header.global, 
footer.global, 
section {
	max-width: 1200px;
	padding-left: 1em;
	-right: 1em;
}

@media only screen and (min-width: 1200px) {
	header.global,
	footer.global,
	section {
		padding-left: calc(50% - 600px);
		padding-left: -webkit-calc(50% - 600px);
		padding-right: calc(50% - 600px);
		padding-right: -webkit-calc(50% - 600px);
	}
}

header.global {
	margin-bottom: 3em;
}

// =========================================
// BLOG
// =========================================


.blog-content {
	max-width: 37em;
}

@media only screen and (min-width: 40em) {

	.blog-content {
		padding: 0 2em; //line up with title
	}
}

@media only screen and (min-width: 50em) {
	.blog-post {
		margin-left: calc(33.3% -  12.3em);
		margin-left: -webkit-calc(33.3% -  12.3em);
	}
}