---
layout: default
title: Speaking
---

{%assign upcomingTalks = site.categories['speaking'] | where: "upcoming", true %}
{%assign pastTalks = site.categories['speaking'] | where: "upcoming", false %}

<section class="talks-intro">
  <p class="punch talk-intro">I speak professionally about developer culture, JavaScript, SVG and more. <strong>I'm currently booking speaking engagements for early 2017.</strong> <a href="mailto:brenna@bren.zone?subject=speaking%20at%a%20super%20cool%20conference">Let's talk!</a>
  </p>
</section>

<section class="talk-entries">

  <div class="talks upcoming">
    {% for post in upcomingTalks %}
    <article class="work-teaser {%cycle 'left', 'right'%}">
      <header>
        <h2 class="work-title"><a href="{{post.link}}">{{ post.title }}</a></h2>
        <h3 class="work-type">{{post.location}} / {{post.date | date: "%m.%y"}}</h3>
        {%if post.ticket_url %}
          <a class="work-link icon-ticket" href="{{post.ticket_url}}"><span>Buy Ticket</span></a>
        {% endif %}
      </header>

      {{post.content}}

    </article>
    {% endfor %}
  </div>

  <h3 class="work-sub-cat">past</h3>
  <div class="talks">
  {% for post in pastTalks %}
    <article class="work-teaser {%cycle 'left', 'right'%}">
      <header>
        <h2 class="work-title"><a href="{{post.link}}">{{ post.title }}</a></h2>
        <h3 class="work-type">{{post.location}} / {{post.date | date: "%m.%y"}}</h3>
        {% if post.slides_url %}
          <a class="work-link icon-slides" href="{{post.slides_url}}"><span>Slides</span></a>
        {% endif %}
      </header>

      {{post.content}}

    </article>
  {% endfor %}
  </div>
</section>