* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: 	border-box;
	box-sizing: 		border-box;
}

// ==================================================================
// TYPOGRAPHY
// ==================================================================

body {
	font-family: "Lato";
	font-size: 100%;
	color: #333;
}

// ------------------------------------------------------------------
// Paragraphs
// ------------------------------------------------------------------
p {
	line-height: 1.6;
	margin: 0 0 2em;

	@media only screen and (min-width: 47em) and (max-width: 60em) {
		font-size: 1.2em;
	}
}

.punch {
	font-size: 1.2em;

	@media only screen and (min-width: 47em) {
		font-size: 1.6em;
		line-height: 1.4;
		//margin-bottom: 1.2em;
		font-weight: 300;

		p {
			line-height: 1.4;
			//margin-bottom: 1.2em;
		}
	}
}


// ------------------------------------------------------------------
// Headings
// ------------------------------------------------------------------
h1 {
	margin: 0 0 0.8em;
	line-height: 1.15;
	font-weight: 300;
}

h2 {
	margin: 0 0 0.8em;
	font-weight: 300;
}

h3 {
	color: darken($blueDark, 3);
	font-weight: 500;
}

h6 {
	font-size: (16/18*1em);
	font-weight: 500;
	margin: 0 0 0.5em;
}

@media only screen and (min-width: 47em) {
	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		margin-top: 2em;
		font-size: 1.5em;
		font-weight: 300;
		color: $blueDark
	}
}

@media only screen and (min-width: 60em) {
	h1 {
		font-size: 3.2em;
	}
}

// ------------------------------------------------------------------
// Lists
// ------------------------------------------------------------------
ol, ul {
	margin: 0 0 1.5em;
}

@media only screen and (min-width: 47em) and (max-width: 60em) {
	ol, ul {font-size: 1.2em;}
}


li {
	margin: 0.5em 0;
}

.arrow-bullets {
	list-style-type: none;
	
}

// ------------------------------------------------------------------
// Links
// ------------------------------------------------------------------
a {
	text-decoration: none;
	color: $linkColor;
	border-bottom: solid 1px transparent;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;

	&:hover,
	&:active,
	&:focus {
		border-bottom: solid 1px $linkColor;
		//set hoverColor variable to null only if it hasn't been defined yet
		$hoverColor: null !default; 

		@if $hoverColor {
			//color: $hoverColor;
		} @else {
			// if hoverColour not set, lighten link colour by 10%
			//color: lighten($linkColor, 10);
		}

		transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
	}
}


// ==================================================================
// MEDIA
// ==================================================================
figure {
	margin-bottom: 2em;
}

	figcaption {
		margin-top: 1em;
		font-size: 0.8em;
		line-height: 1.4;
	}

img {
	max-width: 100%;
	height: auto;
}