// ==================================================================
// LAYOUT
// ==================================================================

// ------------------------------------------------------------------
// Clearfix
// ------------------------------------------------------------------
%clearfix {
	&:before,
 	&:after {
    	content: " "; 
    	display: table; 
	}
	&:after {
		clear: both;
	}
}

// ------------------------------------------------------------------
// Responsive Full Width Columns
// ------------------------------------------------------------------

%full-width {
	padding-left: 1.5em;
	padding-right: 1.5em;

	@media only screen and (min-width: 73em) {
		padding-left: 			calc(50% - 35em);
		padding-right: 	      	calc(50% - 35em);
		padding-left: 	-webkit-calc(50% - 35em);
		padding-right: 	-webkit-calc(50% - 35em);
	}
}

// full-width, up to a point
// for long blocks of text, where we need to limit line length
%full-width-maxed {
	padding-left: 1.5em;
	padding-right: 1.5em;

	@media only screen and (min-width:  60em) {
		padding-left: 			calc(50% - 17.5em);
		padding-right: 	      	calc(50% - 17.5em);
		padding-left: 	-webkit-calc(50% - 17.5em);
		padding-right: 	-webkit-calc(50% - 17.5em);
	}
}

// full outdent
// extend media back out from the half-width columns
%full-outdent {
	@media only screen and (min-width: 60em) {
		margin-left:  -50%;
		margin-right: -50%;
	}
}
 

// ------------------------------------------------------------------
// Media Object
// ------------------------------------------------------------------

%media {
	overflow: hidden; 
}

%media-bd {
	overflow: hidden;
}

%media-img {
	float: left;
}


// ==================================================================
// THEMES
// ==================================================================

// ------------------------------------------------------------------
// Striped Background 
// ------------------------------------------------------------------
	
%dark-stripes {
	$bgColor: #111;
	$stripeColor: #191919;

	$bgColor: #101010;
	$stripeColor: #242424;
	
	background-color: $bgColor; //fallback

	background-image: -webkit-linear-gradient(45deg, $bgColor 25%, $stripeColor 25%, $stripeColor 50%, $bgColor 50%, $bgColor 75%, $stripeColor 75%, $stripeColor);
	background-image:    -moz-linear-gradient(45deg, $bgColor 25%, $stripeColor 25%, $stripeColor 50%, $bgColor 50%, $bgColor 75%, $stripeColor 75%, $stripeColor);
	background-image:      -o-linear-gradient(45deg, $bgColor 25%, $stripeColor 25%, $stripeColor 50%, $bgColor 50%, $bgColor 75%, $stripeColor 75%, $stripeColor);
	background-image:         linear-gradient(45deg, $bgColor 25%, $stripeColor 25%, $stripeColor 50%, $bgColor 50%, $bgColor 75%, $stripeColor 75%, $stripeColor);
	
	background-size: 8px 8px;
}
