    <footer id="contact" class="global">
        <div class="contact-email">
            <h3>Get in Touch</h3>
            <a href="mailto:hi@brennaobrien.com">hi@brennaobrien.com</a>
        </div>
        <div class="contact-elsewhere">
            <h3>Elsewhere</h3>
            <ul class="social">
                <li><a href="http://twitter.com/brennaob" target="_blank">Twitter</a></li>
                <li><a href="http://github.com/brenna" target="_blank">GitHub</a></li>
                <li><a href="http://gplus.to/brennaobrien" target="_blank">Google Plus</a></li>
                <li><a href="http://codepen.io/brenna" target="_blank">CodePen</a></li>
                <li><a href="http://last.fm/user/janiejjones" target="_blank">Last.fm</a></li>
            </ul>
        </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
    {% javascript plugins.js%}
    {% javascript main.js%}

    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
