.about-intro {
	@extend %clearfix;
	padding-top: 2.5em;
	pading-bottom: 1em;


	.about-skillz a {
		color: $blueDark;
		&:hover {border-bottom-color: $blueDark; }
	}

	.about-curiosity {
		margin-bottom: 1.5em;
	}

	.about-contribute a,
	.about-intro h1 a {
		white-space: nowrap;
	}


	@media only screen and (max-width: 47em) {
		h1 {margin-bottom: 1em;}
	}

	@media only screen and (min-width: 35em) {
		padding-top: 3em;

		// .about-curiosity,
		// .about-contribute {
		// 	width: 48%;
		// 	float: left;
		// 	max-width: 21em;
		// }

		// .about-curiosity {
		// 	margin-right: 4%;
		// }
	}

	@media only screen and (min-width: 47em) {
		padding-top: 4em;
	}

	@media only screen and (min-width: 60em) {
		h1 {font-size: 3.2em;}
	}
}

.nutshell {
	@extend %clearfix;
	padding-top: 0.5em;
	padding-bottom: 2.5em;
	text-align: center;

	h3 {
		margin-bottom: 1.4em;
	}

	.icon-list {
		margin-left: -1.5em;

		@media only screen and (min-width: 36em) and (max-width: 47em) {
			padding: 0 -webkit-calc(50% - 15em);
			padding: 0 calc(50% - 15em);
		}
	}

	figure {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 1em;
		padding-left: 1.5em;
		-webkit-transition: all 0.2s linear;
		transition: all 0.2s linear;

		.icon {
			margin-bottom: 0;
			font-size: 7em;
			color: #222;
			cursor: default;
			-webkit-transition: inherit;
			transition: inherit;
		}

		// &:hover {
		// 	color: $blueDark;
			
		// 	-webkit-transition: all 0.3s ease-in-out;
		// 	transition: all 0.3s ease-in-out;
			
		// 	.icon {
		// 		color: $blueDark;
		// 		-webkit-transform: scale(1.2);
		// 		transform: scale(1.2);
		// 	}
		// }

		figcaption {
			margin-top: 0;
		}

		@media only screen and (min-width: 56em) {
			padding-left: 1.7em;
			padding-right: 0.2em;
		}
	}

	@media only screen and (max-width: 27em) and (min-width: 23em){
		figure {
			width: 45%;
		}
	}

	@media only screen and (min-width: 47em) {
		padding-bottom: 5em;

		h3 {text-align: left;}
		.icon-list {float: left;}
	}

}

.resources {
	ul {
		padding-left: 0;
	}
	
	li {
		display: inline-block;
		vertical-align: top;
		width: 33%;
		@extend %arrow-list;
	}

	a {color: #333;}
}
