.about-intro {
	padding-top: 3em;

	a {
		white-space: nowrap;
	}

	@media only screen and (max-width: 27em) {
		padding-top: 2.5em;
	}

	@media only screen and (min-width: 47em) {
		padding-top: 4em;
		h1 {margin-bottom: 0.7em;}
		.punch {margin-bottom: 0.8em;}

		.profile-img {
			float: right;
			width: 37.5%;
			margin-left: 50px;
		}
	}

	@media only screen and (min-width: 60em) {
		h1 {font-size: 3.2em;}

	}
}


		.img-diamond {
			width: 68%;
			margin: 20% auto;
			border: 1px solid #ababab;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			overflow: hidden;
		}

		.img-diamond img {
			-webkit-transform: rotate(-45deg) scale(1.43);
			-ms-transform: rotate(-45deg) scale(1.43);
			transform: rotate(-45deg) scale(1.43);
		}

		@media only screen and(min-width: 40em) {
			.bio,
			.bio-body {
				overflow: hidden;
			}

			.bio .img-diamond {
				width: 186px;
				margin: 3em;
				float: left;
			}

			.bio-body {
				padding: 0.5em 0 0 3.2em;
			}
		}

		@media only screen and (min-width: 70em){
			.bio-body {padding-top: 1.5em;}
		}

.nutshell {
	@extend %clearfix;
	padding-top: 2em;
	padding-bottom: 4em;
	//text-align: center;

	h2 { font-size: 1.8em;}

	.icon-list {
		margin-left: -1.5em;
	}

	figure {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 1em;
		padding-left: 1.5em;
		-webkit-transition: all 0.2s linear;
		transition: all 0.2s linear;
		text-align: center;

		.icon {
			margin-bottom: 0;
			font-size: 7em;
			color: #222;
			cursor: default;
			-webkit-transition: inherit;
			transition: inherit;
		}

		// &:hover {
		// 	color: $blueDark;

		// 	-webkit-transition: all 0.3s ease-in-out;
		// 	transition: all 0.3s ease-in-out;

		// 	.icon {
		// 		color: $blueDark;
		// 		-webkit-transform: scale(1.2);
		// 		transform: scale(1.2);
		// 	}
		// }
	}

	figcaption {
		margin-top: 0;
		text-align: center;
		font-style: italic;
		font-size: 1em;
	}

	@media only screen and (max-width: 29em) {
		figcaption {font-size: 0.9em;}
	}

	@media only screen and (max-width: 29em) and (min-width: 23em){
		figure {
			width: 45%;
		}
	}

	@media only screen and (min-width: 36em) and (max-width: 47em) {
		.icon-list {
			//prevent list orphan
			max-width: 35em;
		}
		figure {
			padding: 0 1em 0 2.5em;
		}

	}

	@media only screen and (min-width: 47em) {
		padding-top: 4.5em;
		h2 {
			font-size: 2.5em;
			margin-bottom: 0.5em;
		}

		.icon-list {float: left;}
	}

	@media only screen and (min-width: 56em) {
		figure {
			padding-left: 2em;
			padding-right: 0.5em;
		}
	}

}

.resources {
	padding-top: 3em;
	padding-bottom: 2em;

	h2 {
		font-size: 1.8em;
		margin-bottom: 0.3em;
	}

	ul {
		padding-left: 0;
	}

	li {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		@extend %arrow-list;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	a {
		color: #333;
		display: inline-block;
		&:hover {border-bottom-color: $blueDark;}
	}

	@media only screen and (min-width: 30em) {
		li {width: 49%;}
	}

	@media only screen and (min-width: 47em) {
		padding-top: 5.5em;
		padding-bottom: 5.5em;
		h2 {
			font-size: 2.5em;
			margin-bottom: 0.2em;
		}
		h4 {margin-bottom: 1.8em;}
		li {width: 32.5%;}
		a {font-size: 1.2em;}
	}

	@media only screen and (min-width: 60em) {
		li {width: 24%;}
	}
}
