.blog-entries {
	// article { padding-top: 1em; }
}

.blog-teaser {
	> a {
		display: block;
		padding-top: 1.4em;
		border-bottom: solid 1px #dedede;
		color: $black;
	}
	a:hover {background: $blueLight;}
}

.blog-post {
	padding-top: 2em;
	padding-bottom: 3em;

	@media only screen and (min-width: 47em) and (max-width: 60em){
		padding-top: 3em;
		padding-bottom: 4em;
	}

	@media only screen and (min-width:  60em) {
		padding-top: 4em;
		padding-bottom: 6em;
	}
}

.blog-title {
	@extend %media;
}

.post-title {
	.blog-post & {
		@extend %media-bd;
	}

	a {
		color: #000;
	}

	@media only screen and (min-width: 40em) {
		.blog-entries & {padding-top: 0.2em;}
	}
}

.post-date {
	br {display: none;}
	color: $blueDark;
}

//switch to vertical date display
@media only screen and (min-width: 47em) {
	.post-date {
		float: left;
		display: block;
		width: 2.25em;
		margin-top: 0.2em;
		
		.blog-teaser & {margin-top: -0.1em;}

		br {display: block;}
		span{display: none;}
	}
}

//then make everything even bigger on the list view
@media only screen and (min-width: 60em) {
	.blog-teaser .post-title {font-size: 2.5em;}
	.blog-teaser .post-date {margin-top: 0.5em;}
}

// ------------------------------------------------------------------
// Post Media
// ------------------------------------------------------------------

.blog-post img {
	border: solid 1px #666;
}