.blog-entries {
	// article { padding-top: 1em; }
}

.blog-teaser {
	> a {
		display: block;
		padding-top: 1.4em;
		border-bottom: solid 1px #dedede;
		color: $black;
	}
	a:hover {background: $blueLight;}
}

.blog-post {
	padding-top: 2em;
	padding-bottom: 3em;

	@media only screen and (min-width: 47em) and (max-width: 60em){
		padding-top: 3em;
		padding-bottom: 4em;
	}

	@media only screen and (min-width:  60em) {
		padding-top: 4em;
		padding-bottom: 6em;
	}
}

.blog-title {
	position: relative;
}

.post-title {
	a {
		color: #000;
	}

	@media only screen and (min-width: 40em) {
		.blog-entries & {padding-top: 0.2em;}
	}
}

.post-date {
	br {display: none;}
	color: $blueDark;
}

//switch to vertical date display
@media only screen and (min-width: 47em) {
	.post-title {
		padding-left: 0.8em;

		.teaser & {max-width: 63rem;}
	}
	.post-date {
		width: 2.25em;
		position: absolute;
		left: 0;

		.blog-teaser & {
			top: 50%;
			margin-top: -1.7em;
		}

		.blog-post & {
			top: 0.2em;
		}


		br {display: block;}
		span{display: none;}
	}
}

// then make everything even bigger on the list view
// and move the post date into the gutter for full posts
@media only screen and (min-width: 60em) {
	.teaser .post-title {font-size: 2.5em;}
	.blog-teaser .post-date {margin-top: -1.5em;}
	.blog-post .post-date {
		left: -3em;
		top: 0.4em;
	}
	.blog-post .post-title {padding-left: 0;}
}

// ------------------------------------------------------------------
// Post Media
// ------------------------------------------------------------------

.blog-post img {
	border: solid 1px #666;
}

.blog-post .no-border img,
.blog-post img.no-border {
	border: none;
}