@media all and (min-width: 50em) {
  .topics {
    display: flex;
    align-items: flex-end;

    &__text {
      width: 50%;
    }

    &__pic {
      margin-bottom: 1.5em;
      padding-left: 3em;
    }
  }
  .coaching-deets {
    display: flex;

    &__booking {
      width: 50%;
    }

    &__pricing {
      padding-left: 3em;
    }
  }
}

.coaching-donors {
  &__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 14px;
    width: 80%;

    li {
      margin-right: 10px;
      width: 120px;
      margin-top: 0;
      margin-bottom: 20px;
    }
    img {
      display: block;
      margin-bottom: 5px;
      width: 120px;
    }
  }

  &__your-face-here {
    color: #757575;
    padding: 30px 10px 0;
    border: solid 1px #dedede;
    height: 120px;
    width: 120px;
    font-size: 13px;
  }
}

.topics__list {
  font-size: 1.2em;
}


