footer.global {
	@extend %clearfix;
	@extend %dark-stripes;
	padding-top: 4em;
	padding-bottom: 3em;

	h3 {
		font-size: 2em;
		margin-top: 0;
		margin-bottom: 1em;
		color: #fff;
		font-weight: 300;
		text-transform: none;
		letter-spacing: 0;
		display: inline-block; //makes transform scale from middle of text

		@media only screen and (min-width: 55em) {
			font-size: 2.5em;
		}

		//pulse animation for header text
		&.animate {
			-webkit-animation: pulse 0.5s;
			animation: pulse 0.5s;
		}
	}

	h4 {
		color: #fff;
		font-weight: 300;

		@media only screen and (max-width: 24em) {
			br {display: none;}
		}
		@media only screen and (min-width: 55em) and (max-width: 72em) {
			br {display: none;}
		}
	}

	@media only screen and (max-width: 55em) {
		text-align: center;
		padding-top: 2em;
		padding-bottom: 1em;
	}

}

.contact-email a {
	font-size: 1.5em;
	font-weight: 300;
	color: darken($peach, 3);
	&:hover {border-bottom-color: darken($peach, 5);}

	@media only screen and (min-width: 60em) {
		font-size: 1.7em;
	}
}



.social {
	$squareWidth: 2.5em;

	width: 23.75em;
	padding-left: 0.5em;
	@extend %clearfix;


	li {
		float: left;
		width: $squareWidth;
		height: $squareWidth;
		margin: 0 2em 0 0;
		border: solid 1px #fff;
		list-style-type: none;
		font-size: 1.1em;

		//make diamonds, biatch
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);

		@include transition-out;

		&:last-child { margin-right: 0;}

		&:hover,
		&:focus {
			background: #fff;
			@include transition-in;
			a {color: #222;}
		}
	}

	a {
		display: block;
		height: $squareWidth;
		width: $squareWidth;
		padding-top: ($squareWidth - 1.1em) / 2;
		border: none; //kill default hover
		text-align: center;
		color: #fff;
		@include transition-out;

		//counter rotate the icons
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);

		&:hover {
			color: #222;
			@include transition-in;
		}
	}

	span {
		display: block;
		width: 0;
		height: 0;
		@extend %hide-text;
	}

	@mixin stacked-layout {
		width: 13.75em;

		li:nth-child(4) {
			margin-left: 2.25em;
		}
		li:nth-child(3){
			margin-right: 0;
		}
	}

	@media only screen and (max-width: 29em) {
		@include stacked-layout;
	}

	@media only screen and (max-width: 55em) {
		margin-left: auto;
		margin-right: auto;
	}

	@media only screen and (min-width: 55em) and (max-width: 72em) {
		@include stacked-layout;
	}

}
