header.global {
	@extend %clearfix;
	@extend %dark-stripes;
	padding-top: 1.5em;
	padding-bottom: 1.1em;
	border-bottom: solid 1px #dedede;
	text-align: center;
}
	
	.brand {
		position: relative;
		display: inline-block;
		margin-bottom: 0.5em;
		padding: 0 1em;
		line-height: 2.3em;
		letter-spacing: 0.05em;

		a {
			color: #fff;
			border: none; //remove default hover
		}

		&:before,
		&:after {
			position: absolute;
			top: 50%;
			margin-top: -0.55em; //vertically centre
			color: darken($peach, 10);
			font-size: 2.3em;
			font-weight: 100;
		}

		&:before {
			content: "{";
			left: -0.05em;
		}

		&:after {
			content: "}";
			right: -0.05em;
		}

		@media only screen and (max-width: 25em) {
			padding: 0 0.7em;
		}
	}

nav.global {
	display: inline-block;

	a {
		position: relative;
		display: block;
		float: left;
		padding: 0 1.4em;
		border: none; //remove default hover
		text-transform: uppercase;
		color: #fff;
		letter-spacing: 0.2em;
		font-weight: 300;
		line-height: 2.2em;
		font-size: 0.8em;
		text-align: left;
		
		//set pseudo-element colours here so they will inherit transitions
		border-color: transparent;
		&:hover {border-color: #fff;}

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0.2em;
			height: 0.25em;
			width: 0.25em;
			margin-top: -0.18em; //vertically center
			border-style: solid;
			border-width: 2px;
			border-color: inherit;
			-webkit-transform: 	rotate(45deg);
			-ms-transform: 		rotate(45deg);
			transform: 			rotate(45deg);
		}

		&:hover:before {
			//border-color: inherit;
		}

		&:last-child {
			padding-right: 0;
		}

		// for very small screens, go 2-up and right align the right column items
		@media only screen and (max-width: 25em) {
			width: 50%;
			padding-left: 8%;

			&:before {
				left: 2%;
			}

			&:nth-child(2n) {
				text-align: right;
				padding-right: 8%;
				padding-left: 0;

				&:before {
					left: auto;
					right: 2%;
				}
			}
		}


		&:hover:before {
			border-color: #fff;
		}

		&.current:before {
			border-color: darken($peach, 10);
		}

	}

}

@media only screen and (min-width: 40em) {
	.brand {
		font-size: 2em;
	}

	nav.global {
		margin: 0 3em 0.5em; //big side margins to prevent wrapping
	}
}

@media only screen and (min-width: 47em) {
	.brand { 
		float: left; 
		margin-bottom: 0;
	}
	nav.global {
		float: right;
		margin: 1.6em 0 1.8em;
	}
}

@media only screen and (min-width: 52em) {
	nav.global a {
		margin-left: 1.5em;
	}
}

// @media only screen and (min-width: 40em) {
// 	.brand {
// 		float: left;
// 		font-size: 2.5em;
// 	}
// }

// @media only screen and (min-width: 40em) and (max-width: 47em) {
// 	nav.global {
// 		width: 100%; //prevent from wrapping around header
// 		margin-bottom: 0.5em;
// 	} 
// }

// @media only screen and (min-width: 47em) {
// 	header.global {
// 		padding-top: 2.1em;
// 	}

// 	nav.global {
// 		float: right;
// 		a {line-height: 3.6em;} //match brand line-height
// 	}
// }

// @media only screen and (min-width: 60em) {
// 	nav.global a { margin-left: 1em; }
// }
