.work-entries,
.talk-entries {
	@extend %clearfix;
	padding-bottom: 2em;
	// padding-top: 2em;
	@media only screen and (min-width: 47em) {
		padding-top: 1.5em;

	}
}

.talk-entries {
	figcaption {
		h3 {margin: 0.5em 0;}
	}
}

.work-teaser {
	padding-top: 2em;
}

.work-post {
	padding-top: 3.5em;
	padding-bottom: 4em;
}

.work-post,
.work-teaser {

	header {
		position: relative;
		width: 100%;
		margin-bottom: 2em;
		border-bottom: solid 1px #ababab;
	}

	figure {
		@extend %clearfix;
		margin-bottom: 1.5em;

		&:last-child {
			//margin-bottom: 0;
		}
	}

	img {
		border: solid 1px #ababab;
	}
}

.work-link {
	position: absolute;
	right: 0;
	bottom: 0.5em;
	padding-right: 1.3em; //space for icon
	line-height: 1.45;

	span {
		display: inline-block;
		vertical-align: middle;
		font-family: 'Lato';
		font-weight: 700;
		font-size: 0.8rem;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	//web icon
	&:before {
		position: absolute;
		top: 0.1em;
		right: 0;
	}
}

.work-title {
	margin-bottom: 0;
	font-size: 1.8em;
	line-height: 1.15;

	a {
		color: #000;
	}

	@media only screen and(min-width: 47em) {
		font-size: 3em;
	}
}

.talk-title {
	margin: 0.5em;
}

.work-sub-cat {
	margin-bottom: 0;
	// text-transform: uppercase;
	// color: $blueDark;
	// font-size: 20px;
	margin-top: 2em;
}

.work-type {
	margin: 0.5em 0 0.9em 0;
	padding-right: 25%; //space for view link
	color: $blueDark;
	font-size: 0.8em;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.talks.upcoming {
	padding-bottom: 1px; //prevent margin collapse
}

.talk-intro {
	margin-bottom: 0;
	margin-top: 2em;
}