.work-entries {
	@extend %clearfix;
	padding-bottom: 2em;
	@media only screen and (min-width: 47em) {
		padding-top: 1.5em;

	}
}

.work-teaser {
	padding-top: 2em;

	header {
		position: relative;
		width: 100%;
		margin-bottom: 2em;
		border-bottom: solid 1px #ababab;
	}

	figure {
		margin-bottom: 1.5em;
	} 

	img {
		border: solid 1px #ababab;
	}
}

.work-link {
	position: absolute;
	right: 0;
	bottom: 0.5em;
	padding-right: 1.3em; //space for icon
	line-height: 1.4;
	
	span {	
		display: inline-block;
		vertical-align: middle;
		font-family: 'Lato';
		font-weight: 700;
		font-size: 0.8rem;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	//web icon
	&:before {
		position: absolute;
		top: 0.1em;
		right: 0;
	}
}

.work-title {
	margin-bottom: 0;
	font-size: 1.8em;
	line-height: 1.15;

	@media only screen and(min-width: 47em) {
		font-size: 3em;
	}
}

.work-type {
	margin: 0.5em 0 0.9em 0;
	padding-right: 25%; //space for view link
	color: $blueDark;
	font-size: 0.8em;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;	
}