/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */

/* plain text */
.pln {
/*  color: #4d4d4c;*/
color: #333;
}

@media screen {
  /* string content */
  .str {
    /*color: #718c00;*/
    color: #7f9d00;
  }

  /* a keyword */
  .kwd {
    color: #8959a8;
    color: #128b98;
  }

  /* a comment */
  .com {
    color: #8e908c;
  }

  /* a type name */
  .typ {
    color: #4271ae;
  }

  /* a literal value */
  .lit {
    color: #f5871f;
  }

  /* punctuation */
  .pun {
    color: #4d4d4c;
  }

  /* lisp open bracket */
  .opn {
    color: #4d4d4c;
  }

  /* lisp close bracket */
  .clo {
    color: #4d4d4c;
  }

  /* a markup tag name */
  .tag {
    color: #c82829;
  }

  /* a markup attribute name */
  .atn {
    color: #f5871f;
  }

  /* a markup attribute value */
  .atv {
    color: #3e999f;
  }

  /* a declaration */
  .dec {
    color: #f5871f;
  }

  /* a variable name */
  .var {
    color: #c82829;
  }

  /* a function name */
  .fun {
    color: #4271ae;
  }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Style */
pre.prettyprint {
  background: white;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  font-size: 15px;
  line-height: 1.5;
  border: 1px solid #cccccc;
  padding: 10px;
}

@media only screen and(max-width: 550px) {
  pre.prettyprint {
    font-size: 12px;
  }
}

pre.prettyprint li {
  margin: 0;
}

pre.prettyprint li:nth-child(2n){
  /*background: #f7f7f7;*/
  /*background: #f0fcfd;*/
  background: #F5FCFD;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #ccc;
}