// ===========================================
// VARIABLES
// ===========================================

// -------------------------------------------
// Colours
// -------------------------------------------

$black: 	#333; 		//for text on white bg
$blueDark: 	#128b98;
$blueLight: #f0fcfd;
$peach: 	#f1c59e;
$orange: 	#cd6836;

$linkColor: lighten($orange, 5);
$hoverColor: lighten($orange, 10);
$darkLinkhover: lighten($blueDark, 5);


// ===========================================
// BASE STYLES
// ===========================================
@import "base/_mixins.scss";
@import "base/_normalize.scss";
@import "base/_global.scss";
@import "base/_layout.scss";
@import "base/_animations.scss";


// ===========================================
// VENDOR STYLES
// ===========================================
@import "vendor/_icons.scss";
@import "vendor/_font-awesome";

// ===========================================
// COMPONENT STYLES
// ===========================================
@import "_header.scss";
@import "_footer.scss";
@import "_blog.scss";
@import "_about.scss";
@import "_work.scss";