// ===========================================
// VARIABLES
// ===========================================

// -------------------------------------------
// Colours 
// -------------------------------------------

$black: 	#333; 		//for text on white bg
$blueDark: 	#128b98;
$navy: 		#25404e;
$yellow: 	#edc730;
$peach: 	#f1c59e;
$orange: 	#cd6836;
$yellow:	#eda430;
$salmon: 	#f26d55;

$linkColor: lighten($orange, 5);
$hoverColor: lighten($orange, 10);
$darkLinkhover: lighten($blueDark, 5);

// ===========================================
// BASE STYLES
// ===========================================
@import "base/_mixins.scss";
@import "base/_normalize.scss";
@import "base/_global.scss";
@import "base/_layout.scss";

// ===========================================
// COMPONENT STYLES
// ===========================================
@import "_header.scss";
@import "_footer.scss";
@import "_blog.scss";
@import "_about.scss";