---
layout: default
title: Blog
---

<section class="blog-entries">
	{% for post in site.categories['blog'] %}
	<article class="blog-teaser teaser">
		<a href="{{ post.url }}">
			<header class="blog-title">
				<h6 class="post-date">{{ post.date | date: "%d<span> . </span><br />%m<span> . </span><br />%y"}}</h6>
				<h2 class="post-title">{{ post.title }}</h2>
			</header>
			<!--
			{% if post.intro %}
			<div class="blog-content">
				<p>{{post.intro | strip_html}}</p>
    		</div>
    		{% endif %}
    		-->
    	</a>
	</article>
	{% endfor %}
</section>