* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: 	border-box;
	box-sizing: 		border-box;
}

// ==================================================================
// TYPOGRAPHY
// ==================================================================

body {
	font-family: "Lato";
	font-size: 100%;
	color: #333;
}

// ------------------------------------------------------------------
// Paragraphs
// ------------------------------------------------------------------
p {
	line-height: 1.6;
	margin: 0 0 2em;

	@media only screen and (min-width: 47em) and (max-width: 60em) {
		font-size: 1.2em;
	}

	@media only screen and (min-width: 60em) {
		font-size: 1.1em;
	}

	// @media only screen and (min-width: 47em) {
	// 	font-size: 1.2em;
	// }
}

.punch {
	font-size: 1.25em;
	margin-bottom: 1.3em;

	@media only screen and (min-width: 47em) {
		font-size: 1.5em;
		line-height: 1.4;
		margin-bottom: 2em;
		font-weight: 300;

		strong { font-weight: 500; }
	}
}


// ------------------------------------------------------------------
// Headings
// ------------------------------------------------------------------
h1 {
	margin: 0 0 0.8em;
	line-height: 1.15;
	font-weight: 300;
	color: #000;
}

h2 {
	margin: 0 0 0.8em;
	font-weight: 300;
	color: #000;
}

h3 {
	color: #111;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

h4 {
	font-size: 1.2em;
	margin: 0 0 1.3em 0;
	font-weight: 500;
}

h6 {
	font-size: (16/18*1em);
	font-weight: 500;
	margin: 0 0 0.5em;
}

@media only screen and (min-width: 47em) {
	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.3em;
		margin: 3.2em 0 1.6em;
	}
}

@media only screen and (min-width: 60em) {
	h1 {
		font-size: 3.2em;
	}
}

// ------------------------------------------------------------------
// Lists
// ------------------------------------------------------------------
ol, ul {
	margin: 0 0 1.5em;
}

@media only screen and (min-width: 47em) and (max-width: 60em) {
	.main ol,
	.main ul {font-size: 1.2em;}
}


li {
	margin: 0.5em 0;
}

.arrow-bullets {
	list-style-type: none;

}

// ------------------------------------------------------------------
// Links
// ------------------------------------------------------------------
a {
	text-decoration: none;
	color: $linkColor;
	border-bottom: solid 1px transparent;
	@include transition-out(border-color);

	&:hover,
	&:active,
	&:focus {
		border-bottom: solid 1px $linkColor;
		//set hoverColor variable to null only if it hasn't been defined yet
		// $hoverColor: null !default;

		// @if $hoverColor {
		// 	//color: $hoverColor;
		// } @else {
		// 	// if hoverColour not set, lighten link colour by 10%
		// 	//color: lighten($linkColor, 10);
		// }

		@include transition-in(border-color);
	}
}

// ------------------------------------------------------------------
// Speshul Typography Styles
// ------------------------------------------------------------------
.label {
	color: #128B98;
	font-size: 0.8em;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

// ------------------------------------------------------------------
// Code Blocks
// ------------------------------------------------------------------
code {
	background: #f3f3f3;
	font-size: 0.9em;
	padding: 0.1em;
	margin: 0 0.1em;
	white-space: pre-wrap;
}

pre {
	margin: 0 0 2em;
	padding: 1em;
	border: solid 1px #ccc;

	code {
		font-size: 1em;
		padding: 0;
		margin: 0;
		background: none;
		white-space: pre;
	}
}

code, pre {
	font-family: monospace, Courier, "Courier New";
}

//some fixes for misbehaving prettyprint
.language-css .kwd {color: inherit;}


// ==================================================================
// MEDIA
// ==================================================================
figure {
	margin-bottom: 2em;
}

	figcaption {
		margin-top: 1em;
		font-size: 0.8em;
		line-height: 1.4;
	}

img {
	max-width: 100%;
	height: auto;
}