header.global,
footer.global,
.about-intro,
.nutshell,
.resources,
.blog-teaser > a,
.work-entries,
.talk-entries,
.work-post,
.talk-teaser,
.talks-intro {
	@extend %full-width;
}

.blog-post header {
	@extend %full-width-left-maxed;
}

.blog-content {
	@extend %full-width-maxed;
}


.main-404 {
	@extend %full-width;
	padding-top: 2em;
	padding-bottom: 4em;

	img {border: solid 1px #d9d9d9;}
}

.work-teaser {
	figure {
		@extend %clearfix;
	}

	@media only screen and (min-width: 60em) {
		display: inline-block;
		vertical-align: top;
		width: 46.5%;

		&:nth-of-type(odd) {
			margin-right: 3%;
		}
		&:nth-of-type(even) {
			margin-left: 3%;
		}
	}
}

img.site-full {
	float: left;
	width: 75%;
	margin-right: 3%;
}

img.site-mobile {
	float: left;
	width: 22%;
}

@media only screen and (min-width: 55em) and (max-width: 72em) {
	.contact-intro {
		float: left;
		width: 33%;
	}
	.contact-email {
		float: left;
		width: 39%;
		padding-top: 4.7em;
		text-align: center;
	}
	.contact-elsewhere {
		float: left;
		padding-top: 3.9em;
	}
}

@media only screen and (min-width: 72em) {
	.contact-intro {
		float: left;
		width: 33%;
	}
	.contact-email {
		float: left;
		padding: 4.7em 3em 0 1.5em;
	}
	.contact-elsewhere {
		float: right;
		padding-top: 5em;
	}
}

