header.global, 
footer.global,
.about-intro,
.nutshell,
.resources,
.blog-teaser > a,
.blog-post header {
	@extend %full-width;
}

.blog-content {
	@extend %full-width-maxed;
}

@media only screen and (min-width: 47em) and (max-width: 60em) {
	.contact-email {
		float: left;
		width: 50%;
		padding-right: 0.75em;
	}
	.contact-elsewhere {
		float: left;
		width: 50%;
		padding-left: 0.75em;
	}
}

@media only screen and (min-width: 60em) {
	.contact-intro {
		float: left;
		width: 33%;
	}
	.contact-email {
		float: left;
		padding: 3.9em 3em 0 1.5em;
	}
	.contact-elsewhere {
		float: right;
		padding-top: 4em;
		padding-bottom: 1.5em;
	}
}

 