// ==================================================================
// LAYOUT
// ==================================================================

// ------------------------------------------------------------------
// Clearfix
// ------------------------------------------------------------------
%clearfix {
	&:before,
 	&:after {
    	content: " "; 
    	display: table; 
	}
	&:after {
		clear: both;
	}
}


// ------------------------------------------------------------------
// Visually Hidden
// ------------------------------------------------------------------


%hide-text {
	border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;
}


// ------------------------------------------------------------------
// Media Object
// ------------------------------------------------------------------

%media {
	overflow: hidden; 
}

%media-bd {
	overflow: hidden;
}

%media-img {
	float: left;
}


// ------------------------------------------------------------------
// Responsive Full Width Columns
// ------------------------------------------------------------------

%full-width {
	padding-left: 1.5em;
	padding-right: 1.5em;

	@media only screen and (min-width: 73em) {
		padding-left: 			calc(50% - 35em);
		padding-right: 	      	calc(50% - 35em);
		padding-left: 	-webkit-calc(50% - 35em);
		padding-right: 	-webkit-calc(50% - 35em);
	}
}

// full-width, up to a point
// for long blocks of text, where we need to limit line length
%full-width-maxed {
	padding-left: 1.5em;
	padding-right: 1.5em;

	@media only screen and (min-width:  60em) {
		padding-left: 			calc(50% - 17.5em);
		padding-right: 	      	calc(50% - 23.34em);
		padding-left: 	-webkit-calc(50% - 17.5em);
		padding-right:  -webkit-calc(50% - 23.34em);
	}
}

%full-width-left-maxed {
	margin-left: 1.5em;
	padding-right: 1.5em;

	@media only screen and (min-width:  60em) {
		margin-left: 			calc(50% - 17.5em);
		padding-right: 	      	calc(50% - 35em);
		margin-left: 	-webkit-calc(50% - 17.5em);
		padding-right: 	-webkit-calc(50% - 35em);
	}	
}

%content-width {
	padding-left: 1.5em;
	padding-right: 1.5em;
	max-width: 82em;

	@media only screen and (min-width: 73em) {
		padding-left: 			calc(50% - 35em + 19em);
		padding-right: 	      	calc(50% - 35em);
		padding-left: 	-webkit-calc(50% - 35em + 19em);
		padding-right: 	-webkit-calc(50% - 35em);
	}
}

// full outdent
// extend media back out from the half-width columns
%full-outdent {
	@media only screen and (min-width: 60em) {
		margin-left:  -50%;
		margin-right: -50%;
	}
}



// ------------------------------------------------------------------
// n-up Columns
// ------------------------------------------------------------------
%third-width {
	width: 33%;
	float: left;
}

%half-width {
	width: 50%;
	float: left;
}
 
%two-thirds-width {
	@media only screen and (min-width: 47em) {
		width: 66%;
		float: left;
	}
}
 


// ==================================================================
// THEMES
// ==================================================================
// ------------------------------------------------------------------
// Default Transitions
// ------------------------------------------------------------------
// add transition in to your hover state, out to your normal state
@mixin transition-in($prop: "all") {
	transition: #{$prop} 0.3s ease-out;
	-webkit-transition: #{$prop} 0.3s ease-out;
}

@mixin transition-out($prop: "all") {
	transition: #{$prop} 0.2s ease-out;
	-webkit-transition: #{$prop} 0.2s ease-out;
}

// ------------------------------------------------------------------
// Striped Background 
// ------------------------------------------------------------------
	
%dark-stripes {
	$bgColor: #111;
	$stripeColor: #191919;

	$bgColor: #101010;
	$stripeColor: #242424;
	
	background-color: $bgColor; //fallback

	background-image: -webkit-linear-gradient(45deg, $bgColor 25%, $stripeColor 25%, $stripeColor 50%, $bgColor 50%, $bgColor 75%, $stripeColor 75%, $stripeColor);
	background-image:    -moz-linear-gradient(45deg, $bgColor 25%, $stripeColor 25%, $stripeColor 50%, $bgColor 50%, $bgColor 75%, $stripeColor 75%, $stripeColor);
	background-image:      -o-linear-gradient(45deg, $bgColor 25%, $stripeColor 25%, $stripeColor 50%, $bgColor 50%, $bgColor 75%, $stripeColor 75%, $stripeColor);
	background-image:         linear-gradient(45deg, $bgColor 25%, $stripeColor 25%, $stripeColor 50%, $bgColor 50%, $bgColor 75%, $stripeColor 75%, $stripeColor);
	
	background-size: 8px 8px;
}

// ------------------------------------------------------------------
// Fancy Bulleted List  
// ------------------------------------------------------------------
%arrow-list {
	position: relative;
	list-style-type: none;
	padding-left: 1em;
	
	&:before {
		content: " ";
		position: absolute;
		height: 0;
		width: 0;
		left: 0;
		top: 0.5em;
		margin-top: -2px;
		border: solid transparent;
		border-color: transparent;
		border-left-color: $blueDark;
		border-width: 4.5px 0 4.5px 7px;
	}
}