.blue { color: #128b98; }
.bold { font-weight: 500; }
.small { font-size: 0.8em; }

.m-b-0 { margin-bottom: 0; }
.m-b-1 { margin-bottom: 1em; }
.m-b-4 { margin-bottom: 4em; }

.m-t-1 { margin-top: 1em;}
.m-t-2 { margin-top: 2em;}

.p-l-1 { padding-left: 1em; }

.p-l-2 { padding-left: 2em; }