.nutshell figure {
	display: inline-block;
	//width: 49%;
	vertical-align: top;
	max-width: 8em;
	margin-right: 2em;

	@media only screen and (min-width: 37em) {
		width: 16%;
		margin-right: 3%;
	}

	// @media only screen and (min-width: 30em) and (max-width: 50em){
	// 	width: 32%;
	// }

	// @media only screen and (min-width: 50em){
	// 	width: 24%;
	// }
}