.blog-title {
	@extend %media;
}

.post-title {
	@extend %media-bd;

	a {
		color: #000;

	}
}

.post-date {
	@extend %media-img;
	display: block;
	width: 2em;
	margin: 0.2em 0 1.5em;
	color: $blueDark;
}

.blog-post img {
	border: solid 1px lighten(#000, 20);
}